.header-main {
    margin-top: 0px;
}

.dept-of-wl-intro {

    background-image: url(../Image/BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.dept-of-wl-intro h2 {
    color: white;
    text-shadow: black;
}

.heading-intro {
    padding: 70px;
    max-width: 1300px;
    text-align: center;
    padding-bottom: 30px;

}

.heading-intro img {
    padding-bottom: 30px;
    width: 20%;
    min-width: 150px;
}

.info-intro {
    max-width: calc(100% - 100px);
    text-align: left;
    padding: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.sum-intro {
    text-align: center;
    padding: 30px 30px 30px 30px;
}

.cover-main {
    background-image: url(../Image/dowl/introbgg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 100px);
    box-sizing: border-box; 
    margin: 40px 40px 0 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.box {
    text-align: center;
    padding: 20px;
}

.box h2{
    font-size: 1.5rem;

}

.box img{
    width: 300px;
    border-radius: 5px;
}

.cover-main h2 {
    color: black;
    padding-top: 30px;
    text-align: center;

}
.cover-main p {
    color: black;
}

.box img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 100ms;
}

@media only screen and (max-width: 600px) {
    .heading-intro h3 {
        font-size: 1.5rem;
    }

    .dept-of-wl-intro {
        font-size: 2rem;
    }
}