.header-main {
    margin-top: 0px;
}

.places-to-visit {
    padding-top: 70px;
    background-image: url(../Image/WL\ 55.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center; /* Center-align text within each container */
}

.sinharaja {
    margin: 30px 0 30px 0;
    max-width: 1300px;
    position: relative;
    background-color: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 2%;

}

.sinharaja img {
    border-radius: 2%;
}

.Udawalawe {
    margin: 30px 0 30px 0;
    max-width: 1300px;
    position: relative;
    background-color: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 2%;

}

.Udawalawe img {
    border-radius: 2%;
}

.horton-plains {
    margin: 30px 0 30px 0;
    max-width: 1300px;
    position: relative;
    background-color: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 2%;

}

.horton-plains img {
    border-radius: 2%;
}

.hikkaduwa {
    margin: 30px 0 30px 0;
    max-width: 1300px;
    position: relative;
    background-color: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 2%;

}

.hikkaduwa img {
    border-radius: 2%;
}

.minneriya {
    margin: 30px 0 30px 0;
    max-width: 1300px;
    position: relative;
    background-color: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 2%;

}

.minneriya img {
    border-radius: 2%;
}

.bundala {
    margin: 30px 0 30px 0;
    max-width: 1300px;
    position: relative;
    background-color: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 2%;

}

.bundala img {
    border-radius: 2%;
}


.places-to-visit h2 {

    margin-top: 20px;
}

.places-to-visit h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.places-to-visit p {
    font-size: 17px;
    margin-top: 10px; /* Adjust the margin as needed */
    text-align: left;
    padding: 30px;
    text-transform: none;
}

.intro-images {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
}

iframe {
    border-radius: 2%;
    width: 1000px;
    height: 200px;
    padding-bottom: 50px;
}

table {

    background-color: black;
    color: white;
    margin: 30px 0 30px 0;
    font-size: 20px;
    width: calc(100% - 200px);
}

th{
    color: black;
    background-color: rgb(216, 144, 19);
    font-weight: bold;
    border: 5px solid rgb(255, 255, 255);
    padding: 5px 0 5px 0;
}

td{
    border: 4px solid white;
    padding: 5px 0 5px 0;
}



