:root{
    --green-background: #115734;
    --wheat-background: #b6a15c;

}

html {
    font-size: 62.5%;
    width: 100%;
}

body{
    background-color: rgb(31, 30, 30);
}

.wrapper-main {
    width: 1000px;
    margin: 0 auto;
}


a {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 2.8rem;
    line-height: 1.5;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 2.1rem;
    line-height: 1.5;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;

}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: aliceblue;
    font-family: 'sans-serif' , Arial, ;

}

a {
    font-size: 1.4rem;
    line-height: 1.75;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer; 
}

.header-main {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(63, 63, 63, 0.522);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    margin-top: -60px;
}

.header-main-logo {
    padding-left: 60px; /*left yellow little space */
    width: fit-content;
    height: 100%;
    display: flex;
}

.header-main-nav {
    width: fit-content;
    height: 100%;

}

.header-main-nav ul li{
    display: inline-block;
    position: relative;
    float: left; /* to remove the cursor error in the middle*/

}

.header-main-nav ul li a{
    padding: 0 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 60px;
    text-decoration: none;
    color: white;
} 

.header-main-nav ul li a:hover{
    color:var(--wheat-background);
    
}

.header-main-nav ul li:hover .dropdown {
    display: block;
    position: absolute;

}

.dropdown {
    display: none;
    background-color: rgb(181, 136, 0);
    position: absolute;
    top: 100%; /* Position the dropdown below the parent item */
    left: 0;
    min-width: 200px;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

.dropdown li a:hover {
    background-color: #3030307a;
}

.header-main-social {
    width: 120px;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;

}

.header-main-social-fb {
   width: 20px;
   height: 20px;
   background-image: url(../Image/FB-white.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: 10px;
   margin-right: 10px;
}

.header-main-social {
    width: 120px;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;

}

.header-main-social-fb {
   width: 20px;
   height: 20px;
   background-image: url(../Image/FB-white.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: 10px;
   margin-right: 10px;
}

.header-main-social-fb:hover{
    background-image: url(../Image/facebook.png);
 }

.header-main-social-in {
    width: 20px;
    height: 20px;
    background-image: url(../Image/Ig-white.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .header-main-social-in:hover{
    background-image: url(../Image/instagram.png);
 }


 /*newsletter*/

 .newsletterSub {
    text-align: center;
    padding: 20px 0;
}

#newsletterForm {
    display: inline-block;
}

.email {
    color: white;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    font-size: 15px;
    padding: 10px 20px;
    background-color: #edb90c;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ffffff; /* Change to hover color */
}

#message {
    margin-top: 20px;
    color: white;
}



 /* footer*/

footer {
    height: fit-content;
    background-color: black;
    align-items: flex-end;
    margin-top: auto;
}

 .footer-nav ul {
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    text-align: center;
 }

 .footer-main-social {
    width: 100%;
    height: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-main-social-fb {
   width: 50px;
   height: 50px;
   background-image: url(../Image/FB-white.png);
   background-repeat: unset;
   background-size: cover;
}

.footer-main-social-fb:hover{
    background-image: url(../Image/facebook.png);
 }

.footer-main-social-in {
    width: 50px;
    height: 50px;
    background-image: url(../Image/Ig-white.png);
    background-repeat: no-repeat;
    background-size: cover;
    
 }
 
 .footer-main-social-in:hover{
    background-image: url(../Image/instagram.png);
 }

 .footer-contact-details {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
 }
    
 .footer-cr {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
} 

.footer-cr p {
    color: orange;
}

.burger-menu, .burger-menu-btn{
    display: none;
}





 /*responsive*/

 @media only screen and (max-width: 700px) {


    .burger-menu-btn{
        margin: 10px;
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(../Image/icons/open.png), url(../Image/icons/close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;

    }

    .burger-menu{
        display: none;
        position: fixed;
        width: 100%;
        height:  calc(100vh - 180px);
        z-index: 900;
        background-color: #111;
        font-size: 1rem;

    }

    .burger-menu ul {
        width: 100%;
        height: calc(100vh - 80px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

    }

    .burger-menu ul li{

          flex-basis: 100%;
          border: 2px solid #000;

    }

    .burger-menu ul li:nth-child(1){
        padding-top: 60px;
  }
  

    .burger-menu ul li a{
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 10px 0;
        flex-basis: 100%;
        text-align: center;

  }

    .wrapper-main {
        width: 80%;
    }
    
    .header-main-logo {
        padding-left: 20px; /*left little space */
    }

    .header-main-nav {
        display: none;
    
    }

    .header-main-social {
        padding-right: 20px;
    }

 }