.header-main {
    margin-top: 0px;
}

body {
    background-color: black;
}

.main-1 {
    position: relative;
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Image/wilpattu/mainbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-1 h1 {
    position: relative;
    font-size: 5rem;
    opacity: 0; 
    z-index: 3; 
    animation: fadeInText 5s linear forwards; 
}

.main-1 h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #944301 5%, #a02101 100%);
    animation: animate 10s linear forwards;
    z-index: 1; 
}

@keyframes animate {
    0% {
        left: -20%;
        opacity: 0; 
    }

    50% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -20%;
        opacity: 0;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





.info {
    background-image: url(../Image/wilpattu/pattern3.jpg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 80%;
    max-width: 600px; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 0 10px 30px 10px;

}

.info img {
    width: 100%;
    margin: 20px 0 20px 0;


}

.info-1,
.info-2,
.info-3 {
    padding: 30px 0 30px 0;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 700px;
}

@keyframes fade-in {
    from { scale: .8; opacity: 0;}
    to { scale: 1; opacity: 1;}
}

@media only screen and (max-width: 700px) {

    .main-1 h1 {
      font-size: 4rem;
      margin-top: 20px;
      text-align: center;
    }
  
    .info {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
  
    .info-1,
    .info-2,
    .info-3 {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 0; /* Remove border-radius on smaller screens */
    }
  
    .info-1:hover,
    .info-2:hover,
    .info-3:hover {
      border-radius: 0;
    }
  
    .info-1,
    .info-2,
    .info-3 h1 {
      margin-bottom: 10px;
    }
  
    .info-1 p,
    .info-2 p,
    .info-3 p {
      text-align: center;
    }


  }
  